body{
    background-color: #4bedc8;
}

.card{
    width: 50%;
}
.card-header{
    text-align: center;
}

.opcion{
    width: 100%;
}

.listado{
    margin-top: 3%;
}

form{
    margin:25px;
}

.row{
    margin-bottom: 10px;
}